
LearningTDD/.vs/LearningTDD/v17/.suo
LearningTDD/.vs/LearningTDD/v17/.suo
LearningTDD/LearningTDD/bin/Debug/net6.0/appsettings.Development.json
LearningTDD/LearningTDD/obj/project.nuget.cache
LearningTDD/.vs/LearningTDD/v17/.suo
LearningTDD/LearningTDD.Domain/obj/Debug/net6.0/LearningTDD.Domain.assets.cache
LearningTDD/LearningTDD.Domain/obj/Debug/net6.0/LearningTDD.Domain.csproj.FileListAbsolute.txt
LearningTDD/LearningTDD.Domain/obj/project.nuget.cache
LearningTDD/LearningTDD.InfraData/obj/Debug/net6.0/LearningTDD.InfraData.assets.cache
LearningTDD/LearningTDD.InfraData/obj/Debug/net6.0/LearningTDD.InfraData.csproj.FileListAbsolute.txt
LearningTDD/LearningTDD.InfraData/obj/project.nuget.cache
LearningTDD/LearningTDD.IOC/obj/Debug/net6.0/LearningTDD.IOC.assets.cache
LearningTDD/LearningTDD.IOC/obj/Debug/net6.0/LearningTDD.IOC.csproj.FileListAbsolute.txt
LearningTDD/LearningTDD.IOC/obj/project.nuget.cache
LearningTDD/LearningTDD.Test/obj/Debug/net6.0/LearningTDD.Test.assets.cache
LearningTDD/LearningTDD.Test/obj/Debug/net6.0/LearningTDD.Test.csproj.FileListAbsolute.txt
LearningTDD/LearningTDD.Test/obj/project.nuget.cache
LearningTDD/LearningTDD/bin/Debug/net6.0/appsettings.Development.json
LearningTDD/LearningTDD/bin/Debug/net6.0/appsettings.json
LearningTDD/LearningTDD/bin/Debug/net6.0/LearningTDD.API.deps.json
LearningTDD/LearningTDD/bin/Debug/net6.0/LearningTDD.API.dll
LearningTDD/LearningTDD/bin/Debug/net6.0/LearningTDD.API.exe
LearningTDD/LearningTDD/bin/Debug/net6.0/LearningTDD.API.pdb
LearningTDD/LearningTDD/bin/Debug/net6.0/LearningTDD.API.runtimeconfig.json
LearningTDD/LearningTDD/bin/Debug/net6.0/Microsoft.AspNetCore.JsonPatch.dll
LearningTDD/LearningTDD/bin/Debug/net6.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
LearningTDD/LearningTDD/bin/Debug/net6.0/Microsoft.OpenApi.dll
LearningTDD/LearningTDD/bin/Debug/net6.0/Newtonsoft.Json.Bson.dll
LearningTDD/LearningTDD/bin/Debug/net6.0/Newtonsoft.Json.dll
LearningTDD/LearningTDD/bin/Debug/net6.0/Swashbuckle.AspNetCore.Newtonsoft.dll
LearningTDD/LearningTDD/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
LearningTDD/LearningTDD/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
LearningTDD/LearningTDD/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
LearningTDD/LearningTDD/obj/Container/AbsoluteOutputAssemblyPath.cache
LearningTDD/LearningTDD/obj/Container/AdditionalProbingPaths.cache
LearningTDD/LearningTDD/obj/Container/ContainerCreationResult.cache
LearningTDD/LearningTDD/obj/Container/ContainerDevelopmentMode.cache
LearningTDD/LearningTDD/obj/Container/ContainerId.cache
LearningTDD/LearningTDD/obj/Container/ContainerName.cache
LearningTDD/LearningTDD/obj/Container/ContainerOperatingSystemFlavor.cache
LearningTDD/LearningTDD/obj/Container/ContainerRunContext.cache
LearningTDD/LearningTDD/obj/Container/DebuggeeArguments.cache
LearningTDD/LearningTDD/obj/Container/DebuggeeKillProcessCommand.cache
LearningTDD/LearningTDD/obj/Container/DebuggeeProgram.cache
LearningTDD/LearningTDD/obj/Container/DebuggeeWorkingDirectory.cache
LearningTDD/LearningTDD/obj/Container/FastModeProjectMountDirectory.cache
LearningTDD/LearningTDD/obj/Container/ImageBuildContext.cache
LearningTDD/LearningTDD/obj/Container/ImageId.cache
LearningTDD/LearningTDD/obj/Container/OperatingSystemName.cache
LearningTDD/LearningTDD/obj/Container/TargetFramework.cache
LearningTDD/LearningTDD/obj/Container/VolumeMappings.cache
LearningTDD/LearningTDD/obj/Container/VsDbgScript.cache
LearningTDD/LearningTDD/obj/Debug/net6.0/LearningTDD.API.AssemblyInfo.cs
LearningTDD/LearningTDD/obj/Debug/net6.0/LearningTDD.API.AssemblyInfoInputs.cache
LearningTDD/LearningTDD/obj/Debug/net6.0/LearningTDD.API.assets.cache
LearningTDD/LearningTDD/obj/Debug/net6.0/LearningTDD.API.csproj.AssemblyReference.cache
LearningTDD/LearningTDD/obj/Debug/net6.0/LearningTDD.API.csproj.CopyComplete
LearningTDD/LearningTDD/obj/Debug/net6.0/LearningTDD.API.csproj.CoreCompileInputs.cache
LearningTDD/LearningTDD/obj/Debug/net6.0/LearningTDD.API.csproj.FileListAbsolute.txt
LearningTDD/LearningTDD/obj/Debug/net6.0/LearningTDD.API.dll
LearningTDD/LearningTDD/obj/Debug/net6.0/LearningTDD.API.GeneratedMSBuildEditorConfig.editorconfig
LearningTDD/LearningTDD/obj/Debug/net6.0/LearningTDD.API.genruntimeconfig.cache
LearningTDD/LearningTDD/obj/Debug/net6.0/LearningTDD.API.MvcApplicationPartsAssemblyInfo.cache
LearningTDD/LearningTDD/obj/Debug/net6.0/LearningTDD.API.MvcApplicationPartsAssemblyInfo.cs
LearningTDD/LearningTDD/obj/Debug/net6.0/LearningTDD.API.pdb
LearningTDD/LearningTDD/obj/Debug/net6.0/ref/LearningTDD.API.dll
LearningTDD/LearningTDD/obj/Debug/net6.0/refint/LearningTDD.API.dll
LearningTDD/LearningTDD/obj/Debug/net6.0/staticwebassets.build.json
LearningTDD/LearningTDD/obj/Debug/net6.0/staticwebassets/msbuild.build.LearningTDD.API.props
LearningTDD/LearningTDD/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.LearningTDD.API.props
LearningTDD/LearningTDD/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.LearningTDD.API.props
LearningTDD/LearningTDD/obj/project.nuget.cache
